body
{
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.docked
{
	position:absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#error
{
	position: absolute;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
	border: 1px solid #999;
	color: White;
	background: #646D7E;
	font-weight: bold;
	text-align: center;
	display: none;
}

#close_error
{
	position:absolute;
	left: 5px;
	right: 5px;
	bottom: 5px;
	text-decoration: underline;
	cursor: pointer;
}