body
{
    font-family: Calibri, Arial;
    font-size: 11px;
}

.server_name
{
	text-overflow: ellipsis;
	overflow: hidden;
}

.server_info
{
	color: Gray;
}

.linha_tabela 
{
    margin-bottom: 5px;
    height: 30px;
}

.zebra_on 
{
    background: #dddddd;
}

.zebra_off 
{
    background: #FFFFFF;
}

.has_players
{
	font-weight: bold;
}

#main 
{
    padding: 5px;
}