body
{
    font-family: Calibri, Arial;
    font-size: 11px;
}

.server_name
{
	text-overflow: ellipsis;
	overflow: hidden;
}

.server_info
{
	color: Gray;
}

.has_players .server_info
{
	color: Red;
}

.linha_tabela 
{
	padding-top: 5px;
	padding-bottom: 5px;
    margin-bottom: 5px;
    /*height: 30px;*/
}

.zebra_on 
{
    background: #e6e6e6;
}

.zebra_off 
{
    background: #f3f3f3;
}

.has_players
{
	font-weight: bold;
}

#main 
{
	z-index: -1;
	position: absolute;
    overflow: hidden;
    top: 5px;
    bottom: 16px;
    left: 5px;
    right: 5px;
}

#nav
{
	z-index: 1;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 0;
}

.right
{
	text-align: right;
}

.left
{
	text-align: left;
}