body
{
	background: #abc;
	width: 200px;
	height: 200px;
}

#title
{
	font-weight: bold;
}

#info
{
	color: Gray;
}

#general_info
{
	background: Yellow;
	float: left;
	width: 200px;
}

#chat
{
	background: Gray;
	float: left;
	width: 200px;
}