body
{
	width: 220px;
	height: 200px;
}

#title
{
	font-weight: bold;
}

#info
{
}

#general_info
{
	margin-right: 10px;
	float: left;
	width: 200px;
	height: 100%;
}

#chat
{
	float: left;
	width: 200px;
	height: 100%;
}

#info_view
{
	height: 80%;
	margin-bottom: 4px;
}

#chat_text
{
	word-wrap: break-word;
	overflow: auto;
	height:80%;
	margin-bottom: 4px;
}


.serverprint_Chat
{
	color: Blue;
}

.serverprint_Low
{
	color: #ddd;
}

.serverprint_Medium
{
	color: #aaa;
}

.serverprint_High
{
	color: #307D7E;
}
