body 
{
	width: 400px;
	height: 160px;
}

.row
{
	margin-bottom: 5px;
}

.rowgroup
{
	margin-bottom: 15px;
}

.rowgroup .header
{
	font-weight:bold;
	margin-bottom: 10px;
}

.button
{
	cursor: pointer;
}

label
{
	width: 50px;
	font-weight: bold;
}

img
{
	position: relative;
	top: 5px;
	margin-right: 10px;
}

.error 
{
	color: Red;
}